:root {
    --primary: #2fe6fe;
    --secondary: #212529;
    --accent: #0088ff;
    --text: #ebe9fc;
    --selected-color: #26264b;
    --background-color: #26264b;
    --dark-background: #1E1E3A;
  }
  
  .full-frame {
    width: 100%;
    height: 100%;
    border: none;
  }

  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text);
  }
  .full-frame{
    border-radius: 8px;
  }

  /* Sidebar Styles */
  .sidebar {
    height: 95vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
  
  .avatar {
    background-color: var(--primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .username {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
  }
  
  .nav-menu, .bottom-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text);
    margin-bottom: 8px;
    transition: all 0.2s ease;
  }
  
  .nav-item:hover {
    background-color: var(--accent);
  }
  
  .nav-item.active {
    background-color: var(--selected-color);
    color: var(--primary);
  }
  
  .material-icons {
    font-size: 20px;
    margin-right: 12px;
    color: var(--primary);
  }
  
  .divider {
    height: 1px;
    background-color: var(--accent);
    margin: auto 0 20px 0;
    border: none;
  }
  
  .bottom-menu {
    margin-top: auto;
  }
  