:root {
    --primary: #2fe6fe;
    --secondary: #212529;
    --accent: #0088ff;
    --text: #ebe9fc;
    --selected-color: #3B3F58;
    --background-color: #3B3F58;
    --dark-background: #3B3F58;
    --success: #4caf50;
    --hover: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.settings-container {
    background-color: var(--dark-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 500px;
}

h1 {
    text-align: center;
    color: var(--text);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: var(--text);
    margin-bottom: 5px;
}

input,
textarea {
    background-color: var(--background-color);
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-size: 14px;
    color: var(--text);
}

textarea {
    resize: vertical;
    border: 1px solid var(--primary);
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}
